@charset "utf-8";
/* GLOBAL */
body{
	background:#ffffff url(img/main/back.jpg) repeat-x top left;
	margin:0px;
	font:70%/180% Arial,Helvetica,sans-serif;
	color:#555555;
}
div#errorbox{color:red;background:white;border:1px solid red;padding:6px;line-height:16px;}
div#errorbox p{font-weight:bold;margin:2px 0px;font-size:14px;}
table, td, input, textarea, select, li,p{
	color:#555555;
	font:100% Arial,Helvetica,sans-serif;
}
table{border-collapse:collapse;}
table tr td{border:0;}
img{border:0;padding:0;margin:0;}
a img{background:none;border:0;text-decoration:none;}
.vtop{vertical-align:top;}
.formbutton{
	background: #cd071e;
	color:#FFFFFF;
	padding:1px;
	vertical-align:middle;
	border:1px solid #CD071E;
	-moz-border-radius:5px;	-webkit-border-radius:5px;
}
.pagetitle{
	color: #CD071E !important;
  font-size: 150% !important;
  font-weight: normal !important;
}
#ff h2{clear:none !important;margin-top:0}
#ff div img{margin-right:10px;}
#ff div{float:left;width:70%;}
#ff div.clear{float:none !important;padding-top:10px}
.formfield, .formselect{width:200px;}
.formfieldm{width:100px;}
textarea.formfieldl{width:550px;height:150px;}
.formfield, .formselect, .formfields,.formfieldm{
	background:none repeat scroll 0 0 #FFFFFF;
	border:1px solid #aaa;
}
.hidefromweb{display:none;}
.formfield:focus, .formfields:focus, .formfieldm:focus, .formselect:focus{
	border:1px solid #BBBBBB;
}
.formfields,input.calendarDateInput {
	width:50px;
}
#flags{
	width:100%;
	height:350px;
	background:#FFF;
	z-index:9999999999;
	position:absolute;
	top:10px;
	left:0;
	border:3px solid#000;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
}
#flags h2{margin:20px auto 20px auto;font-size:20px;color:#333;}
#flags div{text-align:center;font-size:20px;font-weight:bold;margin:10px 0;}
#flags div a{color:#777;}
form table tr td table{border:0;}
form table,table.details{border:4px double #dddddd;width:100%;padding:2px;}
form table tr td,table.details tr td{background:#eeeeee;padding:3px;line-height:16px;border:1px solid #FFF;}
form table tr td.head,table.details tr td.head{background:#DDDDDD;font-weight:bold;}
form table.details tr td dfn{color:#CD071E;font-size:11px;font-style:normal;line-height:13px;}
#addbasket div dfn{line-height:13px;}
fieldset{border:0px;margin:1em 0;padding:0;}
legend{
	clear:both;
	color:#cd071e;
	font-size:120%;
	font-weight:normal;
	padding:0;
}
label span{
	color:#13689D;
	font-size:110%;
	font-weight:bold;
}
.tabletitle{
	color:#cd071e;
	font-size:120%;
	font-weight:normal;
	padding:5px 0;
}
a{text-decoration:none;color:#309A95;}
a:hover{color:#555555;text-decoration:underline;}
a img{border:none;vertical-align:middle;}
p, h1, h2, h3, h4, h5, h6{margin:1em 0;}
.note{font-size:110%;}
.clear{clear:both;}
#outer{
	width:100%;
	margin:0px auto;
	position:relative;
	text-align:left;
}
#inner{position:relative;margin:0 7px;}
#header{
	height:167px;
}
#linkstrip{
	display:none;
	position:absolute;
	top:95px;
	left:0px;
	border-top:1px solid #060606;
	border-left:1px solid #060606;
	height:20px; 
	z-index:6000;
}
#linkstrip ul{	
	white-space:nowrap;
}
#linkstrip ul, #linkstrip li{
	list-style:none outside none;
	margin:0;
	padding:0;
}
#linkstrip li{
	display:inline;
	position:relative;
}
#linkstrip li a{
	color:#fff;
	font-weight:bold;
	display:inline-block;
	font-size:110%;
	text-transform:uppercase;
	padding:4px 18px;
}
#linkstrip li a:hover{
	background:#111;
	color:#cd071e;
}
#linkstrip li a,#linkstrip li a:visited,#linkstrip li a.hide:visited{
	border-left: 1px solid #464646;
  border-right: 1px solid #000000;
}
/* DROPDOWN */
#linkstrip ul li a.hide ul{border-right:0 !important;}
#linkstrip ul li a.hide li a:hover, #linkstrip ul li a.hide:visited {
	display:block; 
	text-decoration:none; 
	width:97px; 
	height:20px; 
	text-align:left; 
	border:0 !important;
	
	background:none; 
	line-height:20px; 
	overflow:hidden;
	/*text-indent:4px;*/
}
#linkstrip ul li ul {
	display: none;
}

/* specific to non IE browsers */
#linkstrip ul li:hover a {color:#FFFFFF; } /* MAIN HEADER */
#linkstrip ul li:hover ul {display:block; position:absolute; top:18px; left:0; width:150px;}
#linkstrip ul li:hover ul li a.hide {background:#cdcdcd; color:#333; height:20px;} /* sub menu */
#linkstrip ul li:hover ul li:hover a.hide {background:#cdcdcd; color:#435468; height:20px;} /* sub menu highlight */
#linkstrip ul li:hover ul li ul {display: none;}
#linkstrip ul li:hover ul li a {display:block; background:#cdcdcd; color:#333; height:20px;border:0;padding-bottom:2px} /* main menu */
#linkstrip ul li:hover ul li a:hover {background:#dadada; color:#53657a; height:20px; } /* main menu highlight */
#linkstrip ul li:hover ul li:hover ul {display:block; position:absolute; left:97px; top:0; }
#linkstrip ul li:hover ul li:hover ul.left {left:-97px;}

/* /DROPDOWN */



#headerlinks{
	position:absolute;
	top:50px;
	display:none;
	color:#fff;
}
#headerlinks,#search{
	
}
#headerlinks img{vertical-align:bottom;margin-bottom:3px;}
#headerlinks, #headerlinks a{color:#aaa;}
#left, #right{
	float:left;
	display:inline;
	margin-top:10px;
}
#leftmenu{border: 1px solid #d6d6d6;}
#left{}
#right{margin-left:0px;}
#pagecontent,#main,#right{width:100%;overflow:hidden}
#bread{
	color:#444;
	position:absolute;
	top:128px;
	left:0;
	line-height:100%;
}
#bread a{color:#444;}
#main{
	display:inline;
	float:left;
}
#footer{
	background:none repeat scroll 0 0 #B9B9B9;
	border:1px solid #B9B9B9;
	color:#FFFFFF;
	padding:0.5em 10px;
	margin:20px 0 5px;
}
#footer ul, #footer li{
	list-style:none outside none;
	margin:0;
	padding:0;
}
#footer li{
	display:inline;
	margin-right:0.5em;
}
#footer a{color:#ffffff;}
#footer a:hover{color:#ffffff;text-decoration:underline;}
#main h2, #main h3{
	clear:both;
	color:#333;
	font-size:140%;
	font-weight:bold;
	padding:0;
}
#main h3{font-size:120%;}
#main h2#pagetitle{
	color:#cd071e;
	font-size:150%;
	font-weight:normal;
	height:19px;
	line-height:19px;
	margin:0 0 1em;
	padding:0;
	width:530px;
}
#logo{
	position:absolute;
	top:7px;
	left:0;
	margin:0px;
}
#logo img{margin:0px;border:0px;}
#search{
	margin:0;
	position:absolute;
	top:65px;
	left:0;
	width:100%;
	height:13px;
}
#search label{display:none;}
#searchkeyword{
	background:none repeat scroll 0 0 #FFF;
	border:0;
	height:13px;
	line-height:13px;
	margin:0;
	padding:0;
	vertical-align:top;
	width:113px;
	display:inline;
}
#searchsubmit{
	background:none repeat scroll 0 0 #FFF;
	border:0;
	color:#38B8B5;
	font-size:100%;
	font-weight:bold;
	margin:0;
	padding:0;
	text-align:right;
	text-transform:uppercase;
	vertical-align:top;
	display:inline;
	height:13px;
	line-height:13px;
}
#info{
	color:#FFFFFF;
	font-size:90%;
	margin:0;
	padding:0;
	position:absolute;
	left:0;
	top:95px;
	z-index:99;
	width:100%;
}
#info div#basketimg{display:none;}
#info div#basketinfo{float:left;line-height:160%;}
#info div#basketinfo span{display:none;font-weight:bold;color:#aaa;font-size:115%}
#info div#btotal{float:right}
#info div#blink{float:left;margin:0 5px 0 0;}
#info a{
	color:#FFFFFF;
}
#basketsummary{
	display:none;
}

.orangebold{
	color:#cd071e;
	font-size:120%;
	font-weight:bold;
}
.first{width:40%}
.highlight{
	color:#3ABAB4;
	font-size:140%;
	font-weight:bold;
}
/* /GLOBAL */

/* SIDE MENU */
.vert_title{
	color:#333;
	font-size:110%;
	font-weight:bold;
	line-height:26px;
	margin:0 0 1px;
	padding:0 10px;
	text-transform:capitalize;
}
#left ul{
	color:#777777;
	margin:0 0 1em;
	padding:1px 1px 0;
	list-style:none outside none;
}
#left ul li{
	color:#555555;
	display:block;
	list-style-type:none;
	width:100%;
	margin:0;
	padding:0;
}
#left ul li a{
	color:#555555;
	display:block;
	margin:2px 4px;
	background: rgb(229,229,229); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(229,229,229,1) 0%, rgba(206,206,206,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,1)), color-stop(100%,rgba(206,206,206,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(206,206,206,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(206,206,206,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(206,206,206,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(229,229,229,1) 0%,rgba(206,206,206,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#cecece',GradientType=0 ); /* IE6-9 */
	border:1px solid #ddd;
	/*border-radius:8px;*/
}
#left ul li a:hover{background:#FFFFFF url(img/main/arrow2.gif) no-repeat 8px 1em;}
#left ul li a span{
	display:block;
	padding:9px;
}
/* /SIDE MENU */


/* HOME PAGE */
#homeimg{display:none;}
table#homeprods{width:100%;border-collapse:collapse;}
#homeprods{margin:10px 0px;}
#homeprods tr td{text-align:center;padding:5px;}
#freeship{
	float:left;
	background:url(img/main/free-ship.jpg) no-repeat top left;
	width:75px;
	height:75px;
	color:white;
	font-size:75%;
	line-height:143%;
	text-align:center;
	padding:0;
}
#freeship strong{display:block;}
/* /HOME PAGE */

/* PRODUCT LIST BOXES */
#catcontent img{width:100% !important;height:auto !important;}
td.pimg{height:85px;width:100px;text-align:center;white-space:nowrap;vertical-align:top}
div.salebadge{position:absolute;top:0px;right:0px;z-index:2;}
.pprice{
	color:#13689D;
	font-size:110%;
	font-weight:bold;
	line-height:180%;
}

table.product{position:relative;width:100%;border-collapse:collapse;}
table.product tr td{
	color:#777777;
	padding:10px;
	position:relative;
	z-index:1;
	border:1px solid #ccc;
}
table.product tr td.empty{border:0;width:100%;}
table.product tr td h3{margin:10px 0;}
table.product tr td h3 a{color:#cd071e;font:bold 90% Arial, Helvetica, sans-serif}
table.product tr td.pimg a img{padding:2px;}
table.product tr td.pinfo{line-height:14px;width:100%;}
table.product tr td.pinfo span.pprice{
	clear:both;
	margin:1em 0;
	text-align:right;
}

table.prodthumbs{position:relative;border-collapse:separate;}
table.prodthumbs tr td{
	color:#777777;
	position:relative;
	width:65px;
	overflow:visible;
	padding:1px;
	border:2px solid #ddd;
}
table.prodthumbs tr td.empty{border:0;width:100%;}
table.prodthumbs tr td div.pimg{height:auto;}
table.prodthumbs tr td div.pimg a {display:inline-block;}
table.prodthumbs tr td div.pimg a img{/*width:60px*/}

#offerprod{
	position:absolute;
	top:164px;
	left:0;
	width:88%;
	z-index:10;
	background:#FFF;
	border:3px solid #000;
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;
	padding:15px;
	background:#efefef;
}
#offerprod h2{margin-top:0px;margin-bottom:5px;font-size:120%;font-weight:normal;width:100%;}
table.offerprods{position:relative;width:100%;border-collapse:collapse;border:0;padding:0;}
table.offerprods tr td{
	background:#FFF;
	color:#777777;
	width:65px;
	overflow:visible;
	padding:6px;
	border:1px solid #999;
}
table.offerprods tr td label{display:none;}
table.offerprods tr td.empty{border:0;width:100%;}
table.offerprods tr td.pimg{height:auto;width:10%;}
table.offerprods tr td.pimg a {display:inline-block;}
table.offerprods tr td.pimg a img{/*width:60px*/}
table.offerprods tr td.pinfo{height:auto;width:90%;}
table.offerprods tr td.pinfo div a.orangebold{font-size:110%;color:#CD071E}
table.offerprods tr td.pinfo div{vertical-align:top}

table.lrgthumbs tr td.empty{border:0;}
table.lrgthumbs tr td.pimg{border:1px solid #ccc;padding:4px;width:284px;white-space:normal;}
table.lrgthumbs{position:relative;width:100%;}
table.lrgthumbs tr td{padding:0;border:1px solid #CCC;}
/* PAGES */
.pagination a{color:#555555;}
.pagination a:hover{color:#555555;}
.paginationshowing{
	float:right;
	padding:1px 4px;
	margin:0 0 5px;
	border:1px dashed #E1E1E1;
	margin:0 0 5px;
}
.pagination,#sorting{
	background: #EFE1E3;
	border: 1px dashed #DDA1A8;
	float: left;
	margin: 0 0 5px;
	padding: 1px 4px;
}
.pagelinkon{
	background: #F3E6E7;
	border: 1px solid #ECB9BF;
	color: #999999;
	margin: 0 2px;
	padding: 0 3px;
	vertical-align: middle;
}
.pagelink{
	background: #ECB9BF;
	border: 1px solid #D85463;
	margin: 0 2px;
	padding: 0 3px;
	vertical-align: middle;
}
/* BLUE
.pagination,#sorting{
	background: #E1E6EA;
	border: 1px dashed #669BBD;
	float: left;
	margin: 0 0 5px;
	padding: 1px 4px;
}
.pagination span.desc{text-decoration:blink}
.pagelinkon{
	background: #DDE3E7;
	border: 1px solid #C7D5DD;
	color: #999999;
	margin: 0 2px;
	padding: 0 3px;
	vertical-align: middle;
}
.pagelink{
	background: #C7D5DD;
	border: 1px solid #669BBD;
	margin: 0 2px;
	padding: 0 3px;
	vertical-align: middle;
}
*/
/* /PAGES */
/* /PRODUCT LIST BOXES */

/* PRODUCT DETAIL */
#pagecontent div#mainimg{
	float:left;
	margin-bottom:1em;
}
#pagecontent div#mainimg a img{
	
}
#pagecontent div#mainimg p{margin:0.5em 0;}
#pagecontent div#choices{float:left;width:100%;}
#pagecontent div#choices h3{margin:0 0 0.2em;}
#pagecontent div#choices p.price{color:#13689D;font-size:120%;}
#pagecontent div#choices p{margin:0 0 0.2em;}
#pagecontent div#choices label{}
#pagecontent div#choices form p{margin:0 0 0.2em;}
#pagecontent div#choices form div#addbasket{border-top:1px solid #E1E1E1;padding-top:1em;}
#pagecontent div#details{clear:both;}
#pagecontent div#reviews ul{
	background:#eee;
	border:1px solid #ddd;
	color:#777777;
	margin:1em 0;
	padding:3px 10px;
}
#pagecontent div#reviews ul li{
	background:url(img/main/arrow3.gif) no-repeat scroll 0 0.6em transparent;
	line-height:150%;
	list-style:none outside none;
	margin:0.5em 0;
	padding:0 0 0 15px;
}
#pagecontent div#reviews ul li a{color:#777777;}
#pagecontent div#reviews ul li a:hover{color:#777777;text-decoration:underline;}
#pagecontent div#reviews form input.formbutton{margin:5px 0 0;}
/* /PRODUCT DETAIL */

/* MY ACCOUNT */
#deptsubnav{
	background:#EBEBEB;
	border:1px solid #CCCCCC;
	color:#777777;
	margin:1em 0 1em 0px;
	padding:3px 10px;
}
#deptsubnav li{
	background:url(img/main/arrow3.gif) no-repeat scroll 0 0.6em transparent;
	line-height:150%;
	list-style:none outside none;
	margin:0.5em 0;
	padding:0 0 0 15px;
}
#deptsubnav li a{color:#777777;}
#deptsubnav li a:hover{color:#777777;text-decoration:underline;}
/* /MY ACCOUNT */

/* SHOPPING BASKET */
#total{
	font-size:110%;
	margin:1em 0;
	padding:0;
	width:295px;
}
#total dt{
	float:left;
	font-weight:bold;
	width:200px;
}
#total dd{
	margin-left:201px;
	text-align:right;
}
table .price{
	color:#13689D;
	font-size:110%;
	font-weight:bold;
}
p.submit {
	text-align:right;
}
p.submit input, p.submit a {
	background: #CD071E;
	color:#FFFFFF;
	padding:3px;
	vertical-align:middle;
	border:1px solid #CD071E;
	-moz-border-radius:5px;	-webkit-border-radius:5px;
}
p.submit a {
	display:inline-block;
	padding:1px 3px;
	border:1px solid #CD071E;
	-moz-border-radius:5px;	-webkit-border-radius:5px;
}
a.formbutton{
	line-height:16px;
	display:inline-block;
	padding-left:8px;
	padding-right:8px;
	border:1px solid #CD071E;
	-moz-border-radius:5px;	-webkit-border-radius:5px;
}
a.formbutton:hover{
	color:#FFFFFF;
	text-decoration:none;
	cursor:default;
}
.pack_contents{border:1px solid #cccccc;background:#f9f9f9;padding:0px 3px;}
/* /SHOPPING BASKET */

/* PAYMENT */
.review{clear:both;}
.pg_content_left,.pg_content_right{width:146px;}
.pg_content_left{float:left;}
.pg_content_right{float:right;}
address{font-style:normal;}
#cart_review{margin-top:15px;}
#cart_review tr td{font-size:110%;padding:4px 35px 4px 0px;}
#cart_review tr td.desc{font-weight:bold;}
#cart_review tr td.desc span{font-size:80%;}
/* /PAYMENT */

/* MAP */
#sitemap, #sitemap ul, #sitemap li{list-style:none outside none;margin:0;padding:0}
#sitemap{margin:1em 0;}
#sitemap li h3{margin:0.2em 0;}
#sitemap ul{padding-left:20px;}
#sitemap li{margin:0.5em 0;}
/* /MAP */

/* THUMBNAIL VIEWER */
#thumbBox{ /*Outermost DIV for thumbnail viewer*/
	position: fixed;
	left: 0px;
	top: 0px;
	width: auto;
	text-align:center;
	padding:10px 10px 0;
	padding-bottom: 0;
	background: #666666;
	visibility: hidden;
	z-index: 9999;
	cursor: pointer;
}

#thumbBox .footerbar{ /*Footer DIV of thumbbox that contains "close" link */
	font: bold 12px Tahoma;
	letter-spacing: 5px;
	line-height: 1.1em;
	color: white;
	padding: 5px 0;
	text-align: right;
}
.logobar{ /*Logo */
	position: absolute;
	/*background:url(../images/logosmall.gif);*/
	width:77px;
	height:48px;
	left: 508px;
	top: 20px;
	z-index: 11;
	cursor: pointer;
}


#thumbBox #thumbImage{ /*DIV within thumbbox that holds the enlarged image */
	background-color: white;
	margin:auto;
}

#thumbLoading{ /*DIV for showing "loading" status while thumbbox is being generated*/
	position: absolute;
	visibility: hidden;
	border: 1px solid black;
	background-color: #EFEFEF;
	padding: 5px;
	z-index: 5;
}
#overlay{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 500px;
	background-color: #000000;
}
/* /THUMBNAIL VIEWER */

/* CALENDAR */

/* For the details, see: http://flowplayer.org/tools/dateinput/index.html#skinning */

/* the input field */
/*.date {
	border:1px solid #ccc;
	font-size:18px;
	padding:4px;
	text-align:center;
	width:194px;
}*/

/* calendar root element */
#calroot {
	/* place on top of other elements. set a higher value if nessessary */
	z-index:10000;
	
	margin-top:-1px;
	width:198px;
	padding:2px;
	background-color:#fff;
	font-size:11px;
	border:1px solid #ccc;
	
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	
	-moz-box-shadow: 0 0 15px #666;
	-webkit-box-shadow: 0 0 15px #666;	
}

/* head. contains title, prev/next month controls and possible month/year selectors */
#calhead {	
	padding:2px 0;
	height:22px;
} 

#caltitle {
	font-size:14px;
	color:#0150D1;	
	float:left;
	text-align:center;
	width:155px;
	line-height:20px;
	text-shadow:0 1px 0 #ddd;
}

#calnext, #calprev {
	display:block;
	width:20px;
	height:20px;
	background:transparent url(img/calendar/prev.gif) no-repeat scroll center center;
	float:left;
	cursor:pointer;
}

#calnext {
	background-image:url(img/calendar/next.gif);
	float:right;
}

#calprev.caldisabled, #calnext.caldisabled {
	visibility:hidden;	
}

/* year/month selector */
#caltitle select {
	font-size:10px;	
}

/* names of the days */
#caldays {
	height:14px;
	border-bottom:1px solid #ddd;
}

#caldays span {
	display:block;
	float:left;
	width:28px;
	text-align:center;
}

/* container for weeks */
#calweeks {
	background-color:#fff;
	margin-top:4px;
}

/* single week */
.calweek {
	clear:left;
	height:22px;
}

/* single day */
.calweek a {
	display:block;
	float:left;
	width:27px;
	height:20px;
	text-decoration:none;
	font-size:11px;
	margin-left:1px;
	text-align:center;
	line-height:20px;
	color:#666;
	-moz-border-radius:3px;
	-webkit-border-radius:3px; 		
} 

/* different states */
.calweek a:hover, .calfocus {
	background-color:#ddd;
}

/* sunday */
a.calsun {
	color:red;		
}

/* offmonth day */
a.caloff {
	color:#ccc;		
}

a.caloff:hover {
	background-color:rgb(245, 245, 250);		
}


/* unselecteble day */
a.caldisabled {
	background-color:#efefef !important;
	color:#ccc	!important;
	cursor:default;
}

/* current day */
#calcurrent {
	background-color:#498CE2;
	color:#fff;
}

/* today */
#caltoday {
	background-color:#333;
	color:#fff;
}

/*
td.calendarDateInput {}
span.calHolder {
	border:1px solid #dddddd;
}
td.calendarDateInputHead {background:#CD071E;color:#FFF;}
td.calendarDateInputWeekdays {}
select.calendarDateInput {}
input.calendarDateInput {}
td.calendarDateInputDay {background:#dddddd;}
.calTable{
cursor:default;
border-right:1px solid #231f20;
border-bottom:1px solid #231f20;
border-left:1px solid #231f20;
}
#from_Previous_ID,#from_Next_ID{
	background:#810413;
	border:0;
}*/
/* /CALENDAR */
/*rounded border test*/
.b1, .b2, .b3, .b4{font-size:1px; overflow:hidden; display:block;}
.b1 {height:1px; background:#888; margin:0 5px;}
.b2 {height:1px; background:#ddd; border-right:2px solid #AAA; border-left:2px solid #888; margin:0 3px;}
.b3 {height:1px; background:#FFF; border-right:1px solid #AAA; border-left:1px solid #888; margin:0 2px;}
.b4 {height:2px; background:#FFF; border-right:1px solid #AAA; border-left:1px solid #888; margin:0 1px;}
.contentb {background: #FFF; border-right:1px solid #777; border-left:1px solid #777;}
.contentb div {margin: 0 5px;padding:0}
.contentb div input{margin:0;}


#tradeform form table{border:0 !important;padding:0 !important;}
#tradeform form table td {background:#fff !important;}
#tradeform dfn {color:#CD071E;}
#tradeform div#in {border:1px solid #d4d4d4;padding:10px;width:91%;margin:auto;}
#tradeform div#in table {border-collapse:collapse;width:100%}
#tradeform div#in table td {padding:5px 0;line-height:12px}
#tradeform div#in table td div {float:left;background:#eee;border:1px solid #d4d4d4;padding:2px;margin-right:5px}
#tradeform div#in table input,#tradeform div#in table textarea {background:#fff;border:1px solid #d4d4d4;vertical-align:middle;}
#tradeform div#in table input[type=text],
#tradeform div#in table input[type=email],
#tradeform div#in table input[type=url],
#tradeform div#in table textarea {width:100%;}
#tradeform div#in table input[type=checkbox]{padding:0;}
#tradeform div#in table td div input {width:auto !important;}


/* common styling */
.faq_q1,.faq_q2,.faq_a1,.faq_a2{float:left;line-height:16px}
.faq_q1,.faq_a1{width: 30px;}
.faq_q1,.faq_a1,.faq_q2{font-weight:bold}
.faq_q2,.faq_a2{width:530px;}
.faq_q1,.faq_q2{padding-top:8px;}