#thumbBox{ /*Outermost DIV for thumbnail viewer*/
position: absolute;
left: 0px;
top: 0px;;
width: 690px;
text-align:center;
padding: 10px;
padding-bottom: 0;
background: #999999;
visibility: hidden;
z-index: 10;
cursor: hand;
cursor: pointer;
}

#thumbBox .footerbar{ /*Footer DIV of thumbbox that contains "close" link */
font: bold 12px Tahoma;
letter-spacing: 5px;
line-height: 1.1em;
color: white;
padding: 5px 0;
text-align: right;
}
.logobar{ /*Logo */
position: absolute;
width:77px;
height:48px;
left: 0px;
top: 0px;
z-index: 11;
cursor: hand;
cursor: pointer;
}


#thumbBox #thumbImage{ /*DIV within thumbbox that holds the enlarged image */
background-color: white;
margin:auto;
padding:10px;
}

#thumbLoading{ /*DIV for showing "loading" status while thumbbox is being generated*/
position: absolute;
visibility: hidden;
border: 1px solid black;
background-color: #EFEFEF;
padding: 5px;
z-index: 5;
}
#overlay{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 500px;
	background-color: #000000;
	}